<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailSenderAddress>cheryl.a.jeanes@dupont.com</emailSenderAddress>
    <emailSenderName>Building Innovations Partner Community</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>BI_NA_Service_Specialist</permissionSet>
        <permissionSet>BI_NA_Distributor_Specialist</permissionSet>
        <permissionSet>Surfaces_Distributor_Inventory_App_Internal_Users</permissionSet>
        <permissionSet>Surfaces_Distributor_Inventory_App_External_Users</permissionSet>
        <profile>admin</profile>
        <profile>bi-na distributor partner</profile>
        <profile>bi-na warranty user</profile>
        <profile>bi-la standard user (ext)</profile>
        <profile>it solutions delivery</profile>
        <profile>bi-na content manager</profile>
        <profile>bi-emea surf distributor partner</profile>
        <profile>corian na distributor inv app partner</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Building_Innovations_Partner_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Building_Innovations_Partner_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>Qualification__c</customTab>
        <customTab>Surfaces_Distributor_Inventory_App</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>report</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>Dashboard</standardTab>
        <standardTab>ContentSearch</standardTab>
        <standardTab>Workspace</standardTab>
    </tabs>
    <urlPathPrefix>BuildingInnovationPartnerCommunity</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
