<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>Community/DPT_Nomex_Community_Change_Password</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailSenderAddress>sfdc-admin@dupont.com</emailSenderAddress>
    <emailSenderName>NomexPortal.Admin@dupont.com</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Community/DPT_Nomex_Community_Change_Password</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>DPT_Nomex_VF_Catalogue_Search</permissionSet>
        <permissionSet>DPT_Nomex_Label_Order_Requester</permissionSet>
        <profile>admin</profile>
        <profile>dpt nomex® without search community profile</profile>
        <profile>dpt nomex® with search community profile</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>DPT_Nomex_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>DPT_Nomex_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>Qualification__c</customTab>
        <customTab>Nomex_Catalogue_Search</customTab>
        <customTab>DPT_Nomex_Label_Order</customTab>
        <customTab>Request__c</customTab>
        <customTab>External_Initiative__c</customTab>
        <customTab>External_Initiative_Company__c</customTab>
        <customTab>Customer_Data_Request__c</customTab>
        <customTab>Geography_Mapping__c</customTab>
        <customTab>Survey__c</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>ContentSearch</standardTab>
    </tabs>
    <urlPathPrefix>DPTNomexCustomerCommunity</urlPathPrefix>
    <welcomeTemplate>Community/DPT_Nomex_Community_New_User_Email</welcomeTemplate>
</Network>
