<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/d_png.png</loginLogo>
        <pageFooter>Communities_Shared_Document_Folder/SSECommunitiesFooter_html.html</pageFooter>
        <pageHeader>Communities_Shared_Document_Folder/SSECommunitiesHeaderInnovation_html.html</pageHeader>
        <primaryColor>#EF001B</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#474747</quaternaryColor>
        <quaternaryComplementColor>#FFFFFF</quaternaryComplementColor>
        <secondaryColor>#8A1F03</secondaryColor>
        <tertiaryColor>#D0EBA6</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#E31837</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>vbhandarkar@salesforce.com</emailSenderAddress>
    <emailSenderName>DuPont Lab</emailSenderName>
    <enableGuestChatter>true</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <logoutUrl>http://www.dupont.com</logoutUrl>
    <networkMemberGroups>
        <permissionSet>Innovation_Community_Internal</permissionSet>
        <permissionSet>Innovation_Community_Partner</permissionSet>
        <profile>customer community lab user</profile>
    </networkMemberGroups>
    <picassoSite>Innovation_C</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Innovation</site>
    <status>Live</status>
    <tabs>
        <defaultTab>Idea</defaultTab>
        <standardTab>Idea</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>home</standardTab>
    </tabs>
    <urlPathPrefix>innovation</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
