<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>Partner_Community_Templates/ChangePwdEmail1</changePasswordTemplate>
    <communityRoles/>
    <description>Former &quot;PRM DuPont&quot; partner portal.</description>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailSenderAddress>sfdc-admin@dupont.com</emailSenderAddress>
    <emailSenderName>sfdc-admin@dupont.com</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Partner_Community_Templates/ChangePwdEmail1</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>bi-emea service center partner community user</profile>
        <profile>dupont partner user</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Surfaces_Service_Center_Community_C</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Surfaces_Service_Center_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>External_Initiative__c</customTab>
        <customTab>External_Initiative_Company__c</customTab>
        <customTab>Customer_Data_Request__c</customTab>
        <customTab>Geography_Mapping__c</customTab>
        <customTab>Survey__c</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>ContentSearch</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Workspace</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>report</standardTab>
        <standardTab>Lead</standardTab>
    </tabs>
    <urlPathPrefix>PRMDuPont</urlPathPrefix>
    <welcomeTemplate>Partner_Community_Templates/NewUserEmail1</welcomeTemplate>
</Network>
